pkgname=zrythm-bin
pkgver=PKGVER
pkgrel=1
pkgdesc="Zrythm DAW (prebuilt binary)"
arch=('x86_64')
url="https://github.com/IRRatium/zrythm-aur-bin"
license=('AGPL3')
depends=(gtk4 libadwaita pipewire-jack)
provides=('zrythm')
conflicts=('zrythm')
source=("zrythm.pkg.tar.zst::PKGURL")
sha256sums=('PKGSHA')

package() {
  bsdtar -xf "zrythm.pkg.tar.zst" -C "$pkgdir"
  rm -rf "$pkgdir"/{.PKGINFO,.BUILDINFO,.MTREE}
}
